<html>
<head>
	<script src="../asset/registrationcheck.js"></script>
</head>
<body>
<center>
	<form method="POST" action="" enctype="">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<fieldset>
						<legend>
							<h3>REGISTRATION</h3>
						</legend>
						username<br /><input type="text" name="id" id="username"><br />
						Password<br /><input type="password" name="password" id = "password"><br />
						Confirm Password<br /><input type="password" name="confirmPassword"id="conPass"><br />
						
						User Type
						<hr />
						<input type="radio" name="type" value="buyer" id="radio1" checked="checked" /><label for="radio1">BUYER</label>
						<input type="radio" name="type" value="seller" id="radio2" checked="checked" /><label for="radio2">SELLER</label>
						<hr />
						<input type="button" name="register" value="register" onclick="registrationvalidation()" />
						<div id = result>
						<a href="login.html">Sign In</a>
					</fieldset>
				</td>
			</tr>
		</table>
	</form>
</center>
</body>
</html>