<!DOCTYPE html>
<html lang="en">

<head>
	<title>CHANGE PASSWORD</title>
	<script src="../asset/changepass.js"></script>
</head>

<body>
	<center>
		<form onsubmit="return validatePasswordChange()" action="../controller/changepass.php" method="" enctype="">
			<table border="0" cellspacing="0" cellpadding="5">
				<tr>
					<td>
						<fieldset>
							<legend>CHANGE PASSWORD</legend>
							Current Password<br />
							<input type="password" name="current" id="current" value="" /><br />
							New Password<br />
							<input type="password" name="new" id="new" value="" /><br />
							Retype New Password<br />
							<input type="password" name="confirm" id="confirm" value="" />
							<span id="password-error" style="color: red;"></span>
							<hr />
							<input type="submit" value="Change" />
							<a href="user_home.php">Home</a>
						</fieldset>
					</td>
				</tr>
			</table>
		</form>
	</center>
</body>

</html>